<nav>
    <div class="nav-wrapper blue">
      <a href="/feed" class="brand-logo">Scream</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/trending">Trending</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
</nav>